.navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgba(34, 34, 34, 0);
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}
.item {
  margin-right:  1em;
}

.item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
}

.item a:hover {
  color: #ffbb33;
  background-color: #222;
  border-radius: 8px;
}