.project_container {
  padding: 2em;
}

.tittle_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}



.subDiv {
  margin-top: 40px;
  width: 100%;
  height: 90%;
  background: #4d5f8d; 
  margin-left: 20px; 
  padding: 10px;
  margin-top:10px;
  background-color: #222;
  border-radius: 5px;
  margin-bottom: 40px;
  }
  .subDiv h1 {
    color: #fd923f;
    padding: 8px;
  }
  .subDiv p {
    color: rgb(204, 204, 204);
    padding: 8px;
    text-align: justify;
    margin-top: 10px;
    font-size: clamp(1rem, 0.9vw, 2rem);
  }
.mainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.divConteiner {
  /* background-color: #fd923f; */
  width: 100%;
  height: 300px;
  margin: 5px;
  display: flex;
}

.divConteiner div {
  width: 50%;
  margin: 5px;
  /* background-color: #683ffd; */
  display: inline-block;
  flex-wrap: wrap;
}

.divConteiner h2{
  color: #222;
  background-color: rgb(204, 204, 204);
  border-radius: 8px;
  padding: 4px;
}


.divConteiner img {
  width: 100%;
}