.project_container {
  padding: 2em;
}

.tittle_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.subDiv {
  width: 80%;
  /* height: 90%; */
  background: #4d5f8d; 
  padding: 10px;
  background-color: rgba(34, 34, 34, 0.87);
  border-radius: 5px;
  margin: 40px auto 40px auto;
}
   h1 {
    color: #fd923f;
    padding: 8px;
  }

  
  .subDiv p {
    color: rgb(228, 228, 228);
    padding: 8px;
    text-align: justify;
    margin-top: 10px;
    font-size: clamp(1rem, 0.6vw, 2rem);
  }

.mainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.divConteiner {
  /* background-color: #fd923f; */
  width: 100%;
  height: 300px;
  margin: 5px auto 5px auto;
  display: flex;
}

.divConteiner div {
  width: 50%;
  margin: 0px 5px;
  display: inline-block;
  flex-wrap: wrap;
}

.divConteiner h2 {
  background-color: rgba(231, 231, 231, 0.918);
  border: hidden;
  color: #222;
  padding: 4px;
  display: block;
  border-radius: 10px;
  transition: 0.3s;
}
.divConteiner h2:hover {
    background-color: rgb(231, 231, 231);;
    transform: translate(2px, 2px);
}

.divConteiner img {
  width: 100%;
  
}

.divConteiner img{
  transition: all 1s;
  cursor: pointer;
  filter: drop-shadow(2px 4px 6px black);
}

.divConteiner img:hover{
  -webkit-transform: scale(1);
  transform: scale(1.05);
}