* {
  padding: 0px;
  margin: 0px;
  box-sizing:  border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  background-image: url("./img/wallpaper.webp");
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

p::selection {
  background-color: #fd923f;
  color: #222;
}